<header>
  <div>
    <a href="/"><img src="/48px-logo.png" alt="Logo" /></a>
  </div>

  <div>
    <form action="/search" method="get">
      <input type="text" name="search" id="search" />
      <button type="submit">
        <img src="/icon/searchIcon.svg" alt="Search" />
      </button>
    </form>
  </div>
</header>
