<nav>
  <div>
    <h3>Category</h3>
    <ul>
      <% categories.forEach((item) => { %>
      <li>
        <a href="/<%= item.category.toLowerCase() %>"><%= item.category %></a>
      </li>
      <% }) %>
    </ul>
  </div>

  <div>
    <h3>Brand</h3>
    <ul>
      <% brands.forEach((item) => { %>
      <li><a href="/<%= item.brand.toLowerCase() %>"><%= item.brand %></a></li>
      <% }) %>
    </ul>
  </div>

  <p><a href="/other">Other</a></p>
</nav>
