<html>
  <head>
    <title>Products Inventory</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <section id="root">
      <%- include('partials/header.ejs') %>

      <main>
        <%- include('partials/sidebar.ejs', { brands, categories }) %>

        <section>
          <% if (!items.length) { %>
          <p>Item not found.</p>
          <% } else if (locals.items) { %> <%- include('partials/itemTable.ejs',
          {items: items}) %> <% } %>
          <a href="/new">Add new item</a>
        </section>
      </main>
    </section>
  </body>
</html>
