<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <main>
    <% if (!items.length) { %>
    <p>Item not found</p>
    <% } else if (locals.items) { %>
    <%- include('./partials/cards.ejs', { items: items }) %>
    <% } %>
  </main>
</body>

</html>