@import url("./reset.css");
@import url("./partials/itemTable.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.btn {
  display: block;
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  border: 2px solid rgba(31, 31, 31, 0.329);

  &.btn-icon {
    padding: 0.2rem;
    border-radius: 6px;
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
}
