@import url("./reset.css");
@import url("./partials/header.css");
@import url("./partials/sidebarTable.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h3 {
  margin-bottom: 0.55rem;
}

dialog {
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 8px;

  & .dialog-wrapper {
    padding: 1rem;

    & h1 {
      margin-bottom: 1rem;
    }
  }
}

.btn {
  display: block;
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  border: 2px solid rgba(31, 31, 31, 0.329);

  &.btn-icon {
    padding: 0.2rem;
    border-radius: 6px;
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
}

.sidebar-list {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.sidebar-wrapper {
  min-width: 80%;
  display: flex;
  justify-content: space-around;
}

.sidebar {
  min-width: 50%;
}

.list {
  margin-bottom: 1rem;
}

.table-wrapper {
  & table {
    margin: 0;
  }
}

.item-new {
  display: block;
  margin-top: 1rem;
  color: white;
  border-radius: 6px;
  background-color: rgb(48, 63, 97);
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.item-cancel {
  display: block;
  margin-top: 1rem;
  color: white;
  border-radius: 6px;
  background-color: rgb(223, 71, 33);
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.item-input {
  margin-bottom: 1rem;

  & label,
  & input {
    display: block;
  }

  & label {
    margin-bottom: 0.25rem;
    font-size: 0.77rem;
  }

  & input {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: 0;
  }
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
